<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Lets Go!!</title>
  </head>
  <body>
    <form action="/" method="post">
        <input type="email" name="url" id="url" placeholder="Type Your Email..." />
       <a href="index.ejs" > <input type="submit"  /></a>
      </form>

    </body>
</html>